<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Sentiment Predictor</title>
</head>

<body>
    <h1>Text Sentiment Prediction</h1>

    <form id="predictionForm">
        <input type="file" id="csvFileInput" accept=".csv">
        <textarea id="textInput" placeholder="Enter text..."></textarea>
        <button type="button" onclick="predict()">Predict</button>
        <button id="downloadBtn" style="display:none" onclick="downloadPredictions()">Download Predictions</button>
    </form>

    <div id="predictionResult"></div>
    <div id="graphContainer"></div>

    <script>
        function predict() {
            // Check if CSV file is present
            var csvFileInput = document.getElementById("csvFileInput");
            var textInput = document.getElementById("textInput");
            var predictionResult = document.getElementById("predictionResult");
            var graphContainer = document.getElementById("graphContainer");

            if (csvFileInput.files.length > 0) {
                // Upload CSV file
                var formData = new FormData();
                formData.append("file", csvFileInput.files[0]);

                fetch("http://localhost:5000/predict", {
                    method: "POST",
                    body: formData
                })
                    .then(response => {
                        if (response.headers.get('X-Graph-Exists') === 'true') {
                            console.log("Graph")
                            var graphData = response.headers.get('X-Graph-Data');
                            displayGraph(graphData);
                        }

                        return response.blob();
                    })
                    .then(blob => {
                        console.log("Blob:", blob);

                        document.getElementById("downloadBtn").style.display = "block";
                        document.getElementById("downloadBtn").onclick = function () {
                            console.log("Downloading...");
                            var url = URL.createObjectURL(blob);
                            console.log("URL:", url);

                            var a = document.createElement("a");
                            a.href = url;
                            a.download = "Predictions.csv";
                            document.body.appendChild(a);
                            a.click();
                            document.body.removeChild(a);
                        };
                    })
                    .catch(error => {
                        console.error("Error:", error);
                    });

            } else if (textInput.value.trim() !== "") {
                // Predict on single sentence
                fetch("http://localhost:5000/predict", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ "text": textInput.value.trim() })
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        predictionResult.innerHTML = "Predicted sentiment: " + data.prediction;
                    });
            }
        }

        function downloadPredictions() {
            console.log("Download prediction")
        }

        function displayGraph(graphData) {
            var graphUrl = "data:image/png;base64," + graphData;
            var img = document.createElement('img');
            img.src = graphUrl;
            graphContainer.appendChild(img);
        }
    </script>

</body>

</html>